@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import "tailwindcss";

body {
    margin: 0;
    font-family: "Poppins", "Kanit", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Poppins", "Kanit", sans-serif !important;
}

:lang(th),
*:lang(th) {
    font-family: "Kanit", sans-serif !important;
}

::placeholder {
    font-family: "Kanit", sans-serif !important;
}

.ant-form-item-label > label,
.ant-input,
.ant-input-number,
.ant-select,
.ant-select-dropdown,
.ant-btn {
    font-family: "Poppins", "Kanit", sans-serif !important;
}

.ant-table {
    font-family: "Poppins", "Kanit", sans-serif !important;
}

.ant-table-thead > tr > th {
    font-family: "Poppins", "Kanit", sans-serif !important;
    font-weight: 600;
}

.ant-table-tbody > tr > td {
    font-family: "Poppins", "Kanit", sans-serif !important;
}

.ant-pagination {
    font-family: "Poppins", "Kanit", sans-serif !important;
}

.ant-notification-notice {
    font-family: "Poppins", "Kanit", sans-serif !important;
}

.ant-notification-notice-message {
    font-weight: 500;
}

.ant-notification-notice-description {
    font-weight: 300;
}

.slick-prev,
.slick-next {
    color: #9aa1ae !important;
    font-size: 24px !important;
}

.slick-prev:hover,
.slick-next:hover {
    color: #4169e2 !important;
}

.slick-dots li button {
    background-color: #9aa1ae !important;
}

.slick-dots li.slick-active button {
    background-color: #4169e2 !important;
}

.slick-dots li button:hover {
    background-color: #4169e2 !important;
}
